@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #025ec2;
$shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

* {
    font-family: "Lexend";
}

:focus {
    outline: 2px solid $primary;
}

.ui-input {
    padding: 0.5rem .75rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: $shadow;
    justify-content: center;

    label {
        font-size: .875rem;
        color: #414141;
    }

    input {
        all: unset;
        width: 100%;
        font-size: 1rem;
        color: #000;
        font-weight: 300;
    }

    &:active {
        outline: 2px solid $primary;
    }

    &:hover {
        background-color: darken(#fff, 2);
    }
}

svg {
    border: 3px solid red;
}